body{
    background-color: #474646;
}

#contactform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 600px;
}

#title{
    margin-left: 45%;
    margin-top: 10%;
    margin-bottom: 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.header{
    margin-bottom: 3px;
    margin-top: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#messageInput{
    height: 150px;
}

#send{
    width: 70px;
    height: 30px;
    margin-top: 10px;
    align-self: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}